{{define "content"}}
<h2>what's happening</h2>
<ul>
    <li>now playing ActRaiser</li>
</ul>

<h2>puchiedarcy on the web</h2>
<ul>
    <li><a href="http://puchiedarcy.com">puchiedarcy.com</a> - you're already here. Nice!</li>
    <li><a href="http://twitter.com/puchiedarcy">Twitter</a> - I tweet daily.</li>
    <li><a href="http://twitch.tv/puchiedarcy">Twitch</a> - Variety Streamer™</li>
    <li><a href="http://pastebin.com/u/puchiedarcy">Pastebin</a> - long-form writing</li>
    <li><a href="http://github.com/puchiedarcy">GitHub</a> - some code. a lot is private.</li>
    <li><a href="http://backloggery.com/puchiedarcy">Backloggery</a> - games i am playing and have played</li>
    <li><a href="https://www.speedrun.com/user/puchiedarcy">speedrun.com</a> - say it</li>
</ul>

<h2>Stuff I've made or done</h2>
<ul>
    <li><a href='/wreckingcreweditor'>Wrecking Crew Phase Name and Order Editor</a> - Jan 2018</li>
    <li><a href="/about">puchiedarcy.com</a> - Jan 2018</li>
    <li><a href="https://youtu.be/TvN_uGKWVJ4">Adventure Island 4 (NES) Speedrun</a> - AGDQ 2017</li>
    <li><a href="https://youtu.be/R43MsxMBF6w">Metal Gear (MSX) Big Boss Speedrun</a> - SGDQ 2015</li>
    <li><a href="http://api.speedrunslive.com">SpeedRunsLive API</a> - July 2012</li>
</ul>

<h2>What Darcy Did</h2>
<ul>
    <li>
        Jan 2018
        <ul>
            <li>launched puchiedarcy.com</li>
            <li>made wrecking crew phase name and order editor</li>
            <li>beat Castlevania: Dawn of Sorrow</li>
        </ul>
    </li>
</ul>
{{end}}